$rotateSpeed: 5s;
$rotateRight: rotateRight $rotateSpeed infinite linear;
$rotateLeft: rotateLeft $rotateSpeed infinite linear;

* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(0, 0, 0);
}
.container {
  text-align: center;
  padding: 70px 0;
}
.circle {
  filter: grayscale(100%);
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-size: 220px;
  border-radius: 50%;
  background-position: center -2px;
  transition-duration: 2s;
  display: inline-block;
}
.circle:hover {
  filter: grayscale(0);
  background-size: 250px;
  background-position: center -14px;
}

.circle-1 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_5.png");
  animation: $rotateRight;
}
.circle-2 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_2.png");
  animation: $rotateLeft;
}
.circle-3 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_3.png");
  animation: $rotateRight;
}
.circle-4 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_4.png");
  animation: $rotateLeft;
}
.circle-5 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_1.png");
  animation: $rotateRight;
}
.circle-6 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_6.png");
  animation: $rotateLeft;
}
.circle-7 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_7.png");
  animation: $rotateRight;
}
.circle-8 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_8.png");
  animation: $rotateLeft;
}
.circle-9 {
  background-image: url("https://ik.imagekit.io/pfx7oxlvq0/tr:q-100,f-webp,q-1/annabelle_9.png");
  animation: $rotateRight;
}

// Animation for rotating
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateLeft {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
